.m-menu{
  padding-bottom: 20px;
}

.m-page{
  padding-top: 20px;
  text-align: center;
}

.s-fr{
  float: right;
}

.s-max-width-10{
  max-width: 800px;
}

/*照片墙查看*/
.u-img-view-none .el-upload--picture-card{
  display: none;
}

.g-main .el-input--mini .el-input__inner{
  height: 32px;
}
.g-main .el-input-number--mini .el-input-number__increase,.g-main .el-input-number--mini .el-input-number__decrease{
  width: 32px;
  height: 30px;
  line-height: 30px;
}
.g-main .el-form-item--mini .el-form-item__label{
  line-height: 32px;
}
.g-main .el-cascader__label{
  line-height: 32px;
}
.g-main .el-form-item__label{
  font-size: 13px !important;
}

